header h1{
    text-align: left;
    color: black;
}

main{
    padding: 0;
}

.card {
    border: 2px solid #ccc;
    padding: 20px;
    margin: 20px;
    width: 1020px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    
}

.card img{
    width: 90%;
    height: auto;
    border-radius: 15px;
}

main{
    display: flex;
}